@model Software_Requirement_Specification.Models.Tep

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tep</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenTep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenTep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KichThuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KichThuoc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
